{{template "base" .}}

{{define "main"}}

<main id="add-network">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <form action="/networks/add" method="POST">
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="network">Network</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="network" id="network" placeholder="192.168.100.0/24" value='{{.FormData.Get "network"}}' required autofocus />
                            {{with .FormErrors.network}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="vlan">VLAN</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="vlan" id="vlan" value='{{.FormData.Get "vlan"}}' required />
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="network">Gateway</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="gateway" id="gateway" value='{{.FormData.Get "gateway"}}' required />
                            {{with .FormErrors.gateway}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="description">Description</label>
                            <textarea class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="description" id="description" required>{{.FormData.Get "description"}}</textarea>
                        </div>
                    </fieldset>

                    <fieldset class="py-3">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save network</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>

{{end}}
