{{template "base" .}}

{{define "main"}}

<main id="asset-detail">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                {{if eq .Action "add"}}
                <form action="/assets/add" method="POST">
                {{end}}
                {{if eq .Action "view"}}
                <form hx-put='/assets/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/assets">
                {{end}}
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="name">Asset Name *</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="name" id="name" maxlength="25" placeholder="Enter the name of the asset" value='{{.FormData.Get "name"}}' required />
                            {{with .FormErrors.name}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            {{$decommissioned := .FormData.Get "decommissioned"}}
                            <label for="decommissioned">
                                <input type="checkbox" id="decommissioned" name="decommissioned" class="mr-2" {{if (eq $decommissioned "true")}}checked{{end}}>
                                Decommissioned?
                            </label>
                        </div>

                        <div class="mt-3" id="asset_type">
                            {{$asset_type := .FormData.Get "asset_type"}}
                            <label class="block text-sm font-medium text-gray-700" for="asset_type">Asset Type *</label>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="server" class="mr-2" {{if (eq $asset_type "server")}}checked{{end}} required>Server</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="appliance" class="mr-2" {{if (eq $asset_type "appliance")}}checked{{end}} required>Appliance</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="san switch" class="mr-2" {{if (eq $asset_type "san switch")}}checked{{end}} required>SAN Switch</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="lan switch" class="mr-2" {{if (eq $asset_type "lan switch")}}checked{{end}} required>LAN Switch</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="disk array" class="mr-2" {{if (eq $asset_type "disk array")}}checked{{end}} required>Disk Array</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="asset_type" value="tape library" class="mr-2" {{if (eq $asset_type "tape library")}}checked{{end}} required>Tape Library</label>
                            </div>
                        </div>

                        <div class="mt-3 showIfServer">
                            {{$is_virtual := .FormData.Get "is_virtual"}}
                            <label for="is_virtual">
                                <input type="checkbox" id="is_virtual" name="is_virtual" class="mr-2" {{if (eq $is_virtual "true")}}checked{{end}}>
                                Virtualised?
                            </label>
                        </div>

                        <div class="mt-3 showIfServer">
                            {{$recovery_method := .FormData.Get "recovery_method"}}
                            <label class="block text-sm font-medium text-gray-700" for="recovery_method">Recovery Method *</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="recovery_method" value="N/A" class="mr-2" {{if (eq $recovery_method "N/A")}}checked{{end}}>
                                    N/A
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="recovery_method" value="SRM" class="mr-2" {{if (eq $recovery_method "SRM")}}checked{{end}}>
                                    SRM
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="recovery_method" value="GRM" class="mr-2" {{if (eq $recovery_method "GRM")}}checked{{end}}>
                                    GRM
                                </label>
                            </div>
                            {{with .FormErrors.recovery_method}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3 showIfServer">
                            <label class="block text-sm font-medium text-gray-700" for="os">OS</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="os" id="os" maxlength="100" placeholder="Enter the OS of the asset" value='{{.FormData.Get "os"}}' />
                        </div>

                        <div class="mt-3 showIfServer">
                            <label class="block text-sm font-medium text-gray-700" for="service_pack">Service Pack</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="service_pack" id="service_pack" maxlength="10" placeholder="Enter the service pack of the asset…" value='{{.FormData.Get "service_pack"}}'>
                        </div>

                        <div class="mt-3 showIfServer">
                            {{$domain := .FormData.Get "domain"}}
                            <label class="block text-sm font-medium text-gray-700" for="domain">Which domain?</label>
                            <select class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="domain" name="domain">
                                <option value="exe.nhs.uk" {{if (eq $domain "exe.nhs.uk")}}selected{{end}}>exe.nhs.uk</option>
                            </select>
                            {{with .FormErrors.domain}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="showIfServer mt-2 p-3.5 w-full bg-sky-200 border border-sky-300 rounded-md text-sm leading-loose">
                            <p>Asset discovery will happen overnight once the Asset-Collector application has been installed.</p>
                            <p><strong>Note:</strong> Discovery will only work if the server is running Windows.  If the server is not running Windows, <a href="#" id="assetIsNotWindows" class="no-underline hover:underline text-sky-600 hover:text-sky-700">add asset details manually</a>.</p>
                        </div>

                        <div class="mt-3 showAssetDetailFields">
                            <label class="block text-sm font-medium text-gray-700" for="serial_number">Serial Number</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="serial_number" id="serial_number" maxlength="100" placeholder="Enter the serial number of the asset…" value='{{.FormData.Get "serial_number"}}'>
                            {{with .FormErrors.serial_number}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3 showAssetDetailFields">
                            <label class="block text-sm font-medium text-gray-700" for="manufacturer">Manufacturer</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="manufacturer" id="manufacturer" maxlength="100" placeholder="Enter the manufacturer of the asset…" value='{{.FormData.Get "manufacturer"}}'>
                        </div>

                        <div class="mt-3 showAssetDetailFields">
                            <label class="block text-sm font-medium text-gray-700" for="model">Model</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="model" id="model" maxlength="100" placeholder="Enter the model of the asset…" value='{{.FormData.Get "model"}}'>
                        </div>

                        {{if eq .Action "view"}}
                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="ship_date">Shipping Date</label>
                            <input type="date" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="ship_date" id="ship_date" disabled value='{{.FormData.Get "ship_date"}}'>
                        </div>
                        {{end}}

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="warranty_expiry_date">Warranty Expiry Date</label>
                            <input type="date" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="warranty_expiry_date" id="warranty_expiry_date" value='{{.FormData.Get "warranty_expiry_date"}}'>
                        </div>

                        <div class="mt-3">
                            {{$warranty_level := .FormData.Get "warranty_level"}}
                            <label class="block text-sm font-medium text-gray-700" for="warranty_level">Warranty Level</label>
                            <select class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="warranty_level" name="warranty_level">
                                <option value="4 Hr" {{if (eq $warranty_level "4 Hr")}}selected{{end}}>4 Hr</option>
                                <option value="8 Hr" {{if (eq $warranty_level "8 Hr")}}selected{{end}}>8 Hr</option>
                                <option value="NBD" {{if (eq $warranty_level "NBD")}}selected{{end}}>NBD</option>
                            </select>
                        </div>

                        <div class="mt-3">
                            {{$ignore_warranty := .FormData.Get "ignore_warranty"}}
                            <label for="ignore_warranty">
                                <input type="checkbox" id="ignore_warranty" name="ignore_warranty" class="mr-2" {{if (eq $ignore_warranty "true")}}checked{{end}}>
                                Ignore warranty?
                            </label>
                        </div>

                        <div class="mt-3">
                            {{$third_party_warranty := .FormData.Get "third_party_warranty"}}
                            <label for="third_party_warranty">
                                <input type="checkbox" id="third_party_warranty" name="third_party_warranty" class="mr-2" {{if (eq $third_party_warranty "true")}}checked{{end}}>
                                Third party warranty?
                            </label>
                        </div>

                        <label class="mt-3 block text-sm font-medium text-gray-700">Related System(s)</label>
                        {{if .FormData.Get "selected_systems"}}
                            {{range splitString (.FormData.Get "selected_systems") ","}}
                                {{$system := splitString . ":"}}
                                <div class="w-full bg-sky-200 mb-3 p-3.5 border-sky-300 border rounded-md">
                                    <h1 class="font-medium text-sm text-gray-700 pl-1">{{index $system 0}}</h1>
                                    <hr class="border-t border-gray-700 mb-2" />

                                    {{if index $system 1}}
                                        <div data-hive="environments" class="bg-sky-300 pt-1 pb-2 px-3 rounded-md mb-2">
                                            <div data-hive="asset_environments" class="flex flex-col gap-y-1">
                                                {{range splitString (index $system 1) "|"}}
                                                    <div class="flex flex-row">
                                                        <div class="checkbox basis-28">
                                                            <label class="mr-3"><input type="checkbox" name="xxxxxx" value="xxxxxx" class="mr-2" checked disabled/>{{.}}</label>
                                                        </div>
                                                        <!--<div>
                                                            <input list="asset_roles" class="px-1.5" id="asset_role" name="asset_role" placeholder="Role name" disabled>
                                                        </div>-->
                                                    </div>
                                                {{end}}
                                            </div>
                                        </div>
                                        {{else}}
                                        <div data-hive="zero_environments" class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                            <p>No environments selected.  Go and update the system.</p>
                                        </div>
                                    {{end}}
                                </div>
                            {{end}}
                        {{else}}
                            <div class="p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>The asset should likely be linked to some related systems.</p>
                                <p>Go do that.</p>
                            </div>
                        {{end}}

                        {{if eq .Action "view"}}
                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="tier">Tier</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" disabled name="tier" id="tier" maxlength="1" value='{{.FormData.Get "tier"}}'>
                        </div>
                        {{end}}
                    </fieldset>

                    <fieldset class="py-5">
                        {{if eq .Action "add"}}
                            <input type="hidden" id="action" value="add">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add asset</button>
                        {{end}}
                        {{if eq .Action "view"}}
                            <input type="hidden" id="action" value="view">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save asset</button>
                            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to delete the asset?' hx-delete='/assets/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/assets">Delete asset</button>
                        {{end}}
                        <a href="/assets" class="ml-2.5 text-blue-600 hover:underline">Cancel</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>

{{end}}
