{{template "base" .}}

{{define "main"}}

<main id="assets-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5">
            <a href="/assets/add" class="text-center block cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Add asset</a>
            <a href="/assets/export" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Export</a>
            <hr class="my-5 border"/>
            <div id="visibility">
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_serial_number" value="serial_number" class="mr-2" />Serial number
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_shipping_date" value="shipping_date" class="mr-2" />Shipping date
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_warranty_expiry_date" value="warranty_expiry_date" class="mr-2" />Warranty expiry date
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_manufacturer" value="manufacturer" class="mr-2" />Manufacturer
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_model" value="model" class="mr-2" />Model
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_asset_type" value="asset_type" class="mr-2" />Asset Type
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_os" value="os" class="mr-2" />OS
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_service_pack" value="service_pack" class="mr-2" />Service pack
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_sql_instances" value="sql_instances" class="mr-2" />SQL Server Instances
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_recovery_method" value="recovery_method" class="mr-2" />Recovery Method
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_related_systems" value="related_systems" class="mr-2" />Related systems
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_tier" value="tier" class="mr-2" />Tier
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_created_at" value="created_at" class="mr-2" />Created Date
                    </label>
                </div>

                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_updated_at" value="updated_at" class="mr-2" />Updated Date
                    </label>
                </div>
            </div>
        </div>

        <div class="basis-0 grow pt-5">
            {{with .Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">Asset Name</th>
                            <th scope="col" class="px-2 py-2 serial_number" style="display: none">Serial Number</th>
                            <th scope="col" class="px-2 py-2 shipping_date mr" style="display: none">Shipping Date</th>
                            <th scope="col" class="px-2 py-2 warranty_expiry_date" style="display: none">Warranty Expiry</th>
                            <th scope="col" class="px-2 py-2 warranty_expiry_date" style="display: none">Warranty Level</th>
                            <th scope="col" class="px-2 py-2 warranty_expiry_date" style="display: none">Ignore Warranty?</th>
                            <th scope="col" class="px-2 py-2 warranty_expiry_date" style="display: none">Third Party Warranty?</th>
                            <th scope="col" class="px-2 py-2 manufacturer" style="display: none">Manufacturer</th>
                            <th scope="col" class="px-2 py-2 model" style="display: none">Model</th>
                            <th scope="col" class="px-2 py-2 asset_type" style="display: none">Asset Type</th>
                            <th scope="col" class="px-2 py-2 os" style="display: none">OS</th>
                            <th scope="col" class="px-2 py-2 service_pack" style="display: none">Service Pack</th>
                            <th scope="col" class="px-2 py-2 sql_instances" style="display: none">SQL Server Instance(s)</th>
                            <th scope="col" class="px-2 py-2 recovery_method" style="display: none">Recovery Method</th>
                            <th scope="col" class="px-2 py-2 related_systems" style="display: none">Related System(s)</th>
                            <th scope="col" class="px-2 py-2 tier" style="display: none">Tier</th>
                            <th scope="col" class="px-2 py-2 created_at" style="display: none">Created Date</th>
                            <th scope="col" class="px-2 py-2 updated_at" style="display: none">Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Assets}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200 {{if .Decommissioned}}bg-red-300 hover:bg-red-400{{end}}">
                            <td class="px-2 py-2">
                                {{if .Decommissioned}}
                                    <span class="fas fa-exclamation-circle cursor-help" title="Marked as decommissioned"></span>
                                {{end}}
                                <a href="/assets/{{.ID}}" class="text-blue-600 hover:underline">{{.Hostname}}</a>
                            </td>
                            <td class="px-2 py-2 serial_number" style="display: none">{{.SerialNumber}}</td>
                            <td class="px-2 py-2 shipping_date" style="display: none">
                                {{if isAfterEpoch .ShipDate}}
                                    {{friendlydate .ShipDate}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2 warranty_expiry_date" style="display: none">
                                {{if isAfterEpoch .WarrantyExpiryDate}}
                                    <span {{if .IsWarrantyExpired}}class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-red-500"{{end}}{{if .IsWarrantyExpiringSoon}}class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500"{{end}}>{{friendlydate .WarrantyExpiryDate}}</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 warranty_expiry_date" style="display: none">{{.WarrantyLevel}}</td>
                            <td class="px-2 py-2 warranty_expiry_date" style="display: none">
                                {{if .IgnoreWarranty}}
                                    <span class="fas fa-check">&nbsp;</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 warranty_expiry_date" style="display: none">
                                {{if .ThirdPartyWarranty}}
                                    <span class="fas fa-check">&nbsp;</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 manufacturer" style="display: none">{{.Manufacturer}}</td>
                            <td class="px-2 py-2 model" style="display: none">{{.Model}}</td>
                            <td class="px-2 py-2 asset_type" style="display: none">{{.AssetType}}</td>
                            <td class="px-2 py-2 os" style="display: none">{{.OS}}</td>
                            <td class="px-2 py-2 service_pack" style="display: none">{{.ServicePack}}</td>
                            <td class="px-2 py-2 sql_instances" style="display: none">
                                {{range .SQLInstances}}
                                    <p>Instance: {{.SQLInstance}}</p>
                                    <p>Service Account: {{.ServiceAccount}}</p>
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 recovery_method" style="display: none">{{.RecoveryMethod}}</td>
                            <td class="px-2 py-2 related_systems" style="display: none">
                                {{range .Systems}}
                                    <div class="mb-1.5">
                                        <span>{{.System}}</span>
                                        <span>&nbsp;</span>
                                        {{range .Environments}}
                                            <span class="py-0.5 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-sky-500">{{.Name}} environment</span>
                                            <span>&nbsp;</span>
                                        {{end}}
                                    </div>
                                {{else}}
                                    <span class="py-0.5 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500 cursor-help" title="This asset is not related to any systems">Orphaned</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 tier" style="display: none">
                                {{if ne .Tier 0}}
                                    {{.Tier}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2 created_at" style="display: none">{{friendlyDateTime .CreatedAt}}</td>
                            <td class="px-2 py-2 updated_at" style="display: none">{{friendlyDateTime .UpdatedAt}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{end}}
