{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

        <title>Hive</title>

        <link rel="stylesheet" href="/static/app.css" />
    </head>

    <body class="bg-stone-50">
        <header class="flex justify-between items-center py-2.5 px-5 bg-sky-600 {{if or (eq .Environment "dev") (eq .Environment "test")}}bg-amber-500{{end}}">
            <div class="flex items-center">
                <a href="/" class="font-bold text-white">Hive</a>
                <a href="/assets" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">Assets</a>
                <a href="/networks" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">IPAM</a>
                <a href="/organisations" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">Organisations</a>
                <a href="/suppliers" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">Suppliers</a>
                <a href="/systems" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">Systems</a>
            </div>
            <div class="flex items-center">
                <a href="/api/docs" class="text-gray-200 active:bg-sky-700 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-sky-700">API Docs</a>
            </div>
        </header>

        {{template "main" .}}
    </body>

    <script type="text/javascript" src="/static/app.js"></script>
</html>
{{end}}
