{{template "base" .}}

{{define "main"}}

<main id="directorates-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5">
            <a href="/directorates/add" class="text-center block cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Add directorate</a>
            <hr class="my-5 border"/>
            <a href="/organisations" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Show Organisations</a>
            <a href="/departments" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Show Departments</a>
            <a href="/locations" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Show Locations</a>
        </div>

        <div class="basis-0 grow pt-5">
            {{with .Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">Directorate Name</th>
                            <th scope="col" class="px-2 py-2">Organisation</th>
                            <th scope="col" class="px-2 py-2">Departments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Directorates}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200">
                            <td class="px-2 py-2"><a href="/directorates/{{.ID}}" class="text-blue-600 hover:underline">{{.Name}}</a></td>
                            <td class="px-2 py-2">{{.Organisation.Organisation}}</td>
                            <td class="px-2 py-2">
                                <ul>
                                    {{range .Departments}}
                                        <li>{{.Name}}</li>
                                    {{end}}
                                </ul>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{end}}
