{{template "base" .}}

{{define "main"}}

{{with .IP}}
<main id="ip-address">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <form action="/networks/{{.NetworkID}}" method="GET">
                    <fieldset>
                        {{if eq .Stale true}}
                            <div class="alert alert-warning">
                                <p>This IP is marked as stale as it has not responded within the last 10 days.</p>
                            </div>
                        {{end}}

                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="ip">IP Address</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="ip" id="ip" value='{{.IPAddress}}' disabled />
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="hostname">Hostname</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="hostname" id="hostname" maxlength="50" value='{{.Hostname}}' />
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="description">Description</label>
                            <textarea class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="description" id="description">{{.Description}}</textarea>
                        </div>

                        <div class="mt-3">
                            <label for="reserved">
                                <input type="checkbox" id="reserved" name="reserved" value="true" class="mr-2" {{if eq .Reserved true}}checked{{end}} />
                                Reserved IP?
                            </label>
                            <div class="mt-2 p-3.5 w-full bg-sky-200 border border-sky-300 rounded-md text-sm">
                                <p>Reserve an IP address if the device is not yet live.  The reserved flag needs to be removed once the device is active.</p>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label for="static">
                                <input type="checkbox" id="static" name="static" value="true" class="mr-2" {{if eq .Static true}}checked{{end}} />
                                Static IP?
                            </label>
                            <div class="mt-2 p-3.5 w-full bg-sky-200 border border-sky-300 rounded-md text-sm">
                                <p>Setting an IP as static will ensure it is ignored in a scan.  This option should only be used for devices which will not respond to a ping.</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="py-5">
                        <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" hx-put='/networks/ip/{{.ID}}' hx-target="body" hx-push-url="/networks/{{.NetworkID}}">Update IP address</button>
                        <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to clear this IP address?' hx-put='/networks/ip/{{.ID}}?action=clear' hx-target="body" hx-push-url="/networks/{{.NetworkID}}">Clear IP address</button>
                        <button type="submit" class="ml-2.5 text-blue-600 hover:underline">Cancel</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>
{{end}}

{{end}}
