{{template "base" .}}

{{define "main"}}

<main id="location-detail">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                {{if eq .Action "add"}}
                <form action="/locations/add" method="POST">
                {{end}}
                {{if eq .Action "view"}}
                <form hx-put='/locations/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/locations">
                {{end}}
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="office">Office / Building *</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="office" id="office" maxlength="100" placeholder="Office / Building" value='{{.FormData.Get "office"}}' required autofocus>
                            {{with .FormErrors.office}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="firstLine">First Line (optional)</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="firstLine" id="firstLine" placeholder="Royal Devon and Exeter NHS FT" value='{{.FormData.Get "firstLine"}}'>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="street">Street*</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="street" id="street" placeholder="Barrack Road" value='{{.FormData.Get "street"}}' required>
                            {{with .FormErrors.street}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="city">City*</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="city" id="city" placeholder="Exeter" value='{{.FormData.Get "city"}}' required>
                            {{with .FormErrors.city}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="county">County*</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="county" id="county" placeholder="Devon" value='{{.FormData.Get "county"}}' required>
                            {{with .FormErrors.county}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="postCode">Post Code*</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="postCode" id="postCode" placeholder="EX2 5DW" value='{{.FormData.Get "postCode"}}' required>
                            {{with .FormErrors.postCode}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="telephone">Telephone (optional)</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="telephone" id="telephone" placeholder="01392 411611" value='{{.FormData.Get "telephone"}}'>
                        </div>
                    </fieldset>

                    <fieldset class="py-5">
                        {{if eq .Action "add"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add location</button>
                        {{end}}
                        {{if eq .Action "view"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save location</button>
                            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to delete the location?' hx-delete='/locations/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/locations">Delete location</button>
                        {{end}}
                        <a href="/locations" class="ml-2.5 text-blue-600 hover:underline">Cancel</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>

{{end}}
