{{template "base" .}}

{{define "main"}}
<main id="login" class="mx-10 mt-5">
    {{with .Flash}}
    <div class="mb-4 px-3 py-2 bg-amber-300" role="alert">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    <form action="/login" method="POST" class="w-56 mx-auto grid gap-4">
        <fieldset>
            <input type="text" name="upn" id="upn" maxlength="25" placeholder="Enter your upn" autocomplete="upn" autofocus required class="w-full border border-gray-300 rounded-t-md px-3 py-2 focus:ring-indigo-500 focus:border-indigo-500" />
            <input type="password" name="password" id="password" placeholder="password" autocomplete="current-password" required class="w-full border border-gray-300 rounded-b-md px-3 py-2 focus:ring-indigo-500 focus:border-indigo-500" />
        </fieldset>

        <fieldset>
            <input type="submit" value="Login" class="cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
        </fieldset>
    </form>
</main>
{{end}}
