{{template "base" .}}

{{define "main"}}

{{with .Network}}
<main id="ip-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5 text-stone-600">
            <p><strong>Network: </strong>{{.Network}}</p>
            <p><strong>Description: </strong>{{.Description}}</p>
            <p><strong>Subnet Mask: </strong>{{.SubnetMask}}</p>
            <p><strong>Gateway: </strong>{{.Gateway}}</p>
            <p><strong>VLAN: </strong>{{.VLAN}}</p>
            <hr class="my-5 border"/>
            <button type="button" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" hx-confirm='Are you want to delete network: {{.Network}}' hx-delete='/networks/{{.ID}}' hx-target='body' hx-push-url="/networks">Delete network</button>
        </div>

        <div class="basis-0 grow pt-5">
            {{with $.Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">IP</th>
                            <th scope="col" class="px-2 py-2">Hostname</th>
                            <th scope="col" class="px-2 py-2">Description</th>
                            <th scope="col" class="px-2 py-2">Reserved?</th>
                            <th scope="col" class="px-2 py-2">Static?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .IPs}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200 {{if .Stale}}bg-red-300 hover:bg-red-400{{end}}">
                            <td class="px-2 py-2">
                                {{if .Stale}}
                                    <span class="fas fa-exclamation-circle cursor-help" title="This IP has not responded in the last 10 days so is marked as stale; is it still active?"></span>
                                {{end}}
                                {{if and (ne .Description "Broadcast") (ne .Description "Gateway")}}
                                    <a href="/networks/ip/{{.ID}}" class="text-blue-600 hover:underline">{{.IPAddress}}</a>
                                {{else}}
                                    {{.IPAddress}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2">{{.Hostname}}</td>
                            <td class="px-2 py-2">{{.Description}}</td>
                            <td class="px-2 py-2">
                                {{if .Reserved}}
                                    <span class="fas fa-check">&nbsp;</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2">
                                {{if .Static}}
                                    <span class="fas fa-check">&nbsp;</span>
                                {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{{end}}

{{end}}
