{{template "base" .}}

{{define "main"}}

<main id="networks-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5">
            <a href="/networks/add" class="text-center block cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Add network</a>
        </div>

        <div class="basis-0 grow pt-5">
            {{with .Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">Network</th>
                            <th scope="col" class="px-2 py-2">Description</th>
                            <th scope="col" class="px-2 py-2">Subnet Mask</th>
                            <th scope="col" class="px-2 py-2">Gateway</th>
                            <th scope="col" class="px-2 py-2">VLAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Networks}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200">
                            <td class="px-2 py-2"><a href="/networks/{{.ID}}" class="text-blue-600 hover:underline">{{.Network}}</a></td>
                            <td class="px-2 py-2">{{.Description}}</td>
                            <td class="px-2 py-2">{{.SubnetMask}}</td>
                            <td class="px-2 py-2">{{.Gateway}}</td>
                            <td class="px-2 py-2">{{.VLAN}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{end}}
