{{template "base" .}}

{{define "main"}}

<main id="organisation-detail">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                {{if eq .Action "add"}}
                <form action="/organisations/add" method="POST">
                {{end}}
                {{if eq .Action "view"}}
                <form hx-put='/organisations/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/organisations">
                {{end}}
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="organisation">Organisation Name</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="organisation" id="organisation" maxlength="100" placeholder="Enter the name of the organisation" value='{{.FormData.Get "organisation"}}' required autofocus />
                            {{with .FormErrors.organisation}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>
                    </fieldset>

                    <fieldset class="py-5">
                        {{if eq .Action "add"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add organisation</button>
                        {{end}}
                        {{if eq .Action "view"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save organisation</button>
                            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to delete the organisation?' hx-delete='/organisations/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/organisations">Delete organisation</button>
                        {{end}}
                        <a href="/organisations" class="ml-2.5 text-blue-600 hover:underline">Cancel</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>

{{end}}
