{{template "base" .}}

{{define "main"}}

<main id="supplier-detail">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                {{if eq .Action "add"}}
                <form action="/suppliers/add" method="POST">
                {{end}}
                {{if eq .Action "view"}}
                <form hx-put='/suppliers/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/suppliers">
                {{end}}
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="name">Supplier Name</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="name" id="name" maxlength="50" placeholder="Enter the name of the supplier" value='{{.FormData.Get "name"}}' required autofocus />
                            {{with .FormErrors.name}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="upn">Supplier Account(s)</label>
                            <input list="upns" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="upn" name="upn"
                                placeholder="Enter the upn of the supplier account(s)"
                                hx-post="/searchUpns"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#upns">
                            <datalist id="upns"></datalist>
                            <input type="hidden" id="selected_supplier_accounts" name="selected_supplier_accounts" value='{{.FormData.Get "selected_supplier_accounts"}}' >
                            <div id="selected_supplier_account_tags" class="flex flex-wrap"></div>
                        </div>

                        <div class="mt-3">
                            <label class="mt-3 block text-sm font-medium text-gray-700">Related Document(s)</label>
                            <div id="supplier_document_tags" class="flex flex-wrap"></div>
                            <input type="hidden" id="selected_supplier_docs" name="selected_supplier_docs" value='{{.FormData.Get "selectedDocs"}}' >
                            <button type="button" class="inline-flex justify-center mt-1 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" id="add_document">Add document</button>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="has_accreditation">Accreditations</label>
                            <input list="accreditations" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="has_accreditation" name="has_accreditation"
                                placeholder="Enter the name of the accreditation"
                                hx-post="/searchAccreditations"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#accreditations">
                            <datalist id="accreditations"></datalist>
                            <input type="hidden" id="selected_accreditations" name="selected_accreditations" value='{{.FormData.Get "selectedAccreditations"}}' >
                            <div id="selected_accreditation_tags" class="flex flex-wrap"></div>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="relatedSystems">Related Systems</label>
                            <span id="helpBlock">Enter the system name</span>
                            <input list="systems" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_systems" name="related_systems"
                                placeholder="Enter the name of the related system"
                                hx-post="/searchSystemNames"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#systems">
                            <datalist id="systems"></datalist>
                            <input type="hidden" id="selected_systems" name="selected_systems" value='{{.FormData.Get "selectedSystems"}}' >
                            <div id="selected_system_tags" class="flex flex-wrap"></div>
                        </div>
                    </fieldset>

                    <fieldset class="py-5">
                        {{if eq .Action "add"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add supplier</button>
                        {{end}}
                        {{if eq .Action "view"}}
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save supplier</button>
                            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to delete the supplier?' hx-delete='/suppliers/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/suppliers">Delete supplier</button>
                        {{end}}
                        <a href="/suppliers" class="ml-2.5 text-blue-600 hover:underline">Cancel</a>
                    </fieldset>

                    <!-- The below tag is a template which is cloned and added to the DOM as needed -->
                    <div id="tag-template" class="hidden flex justify-center items-center m-1 font-medium py-1 px-2 rounded text-indigo-100 bg-indigo-700 border border-indigo-700">
                        <div class="font-normal leading-none max-w-full flex-initial">template</div>
                        <div class="flex flex-auto flex-row-reverse">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-2 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                  </svg>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<dialog class="backdrop:bg-slate-600 backdrop:bg-opacity-75 rounded w-96">
    <form class="mt-2" id="add_document_form">
        <div class="bg-white p-6 pb-4">
            <h3 class="text-base font-semibold text-gray-900 mb-2" id="modal-title">Add document</h3>
            <div>
                <label class="block text-sm font-medium text-gray-700" for="doc_type">Document type</label>
                <select class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="doc_type" name="doc_type">
                    <option value="network connectivity agreement">Network Connectivity Agreement</option>
                    <option value="confidentiality agreement">Confidentiality Agreement</option>
                </select>
            </div>

            <div class="mt-3">
                <label class="block text-sm font-medium text-gray-700" for="doc_path">Location</label>
                <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="doc_path" id="doc_path" maxlength="300" placeholder="Enter the path to the document" required />
            </div>
        </div>

        <div class="bg-stone-100 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" class="inline-flex w-full justify-center rounded-md bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto" id="add_supplier_doc">Add</button>
            <button type="button" id="cancel_dialog" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-4 py-2 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
    </form>
</dialog>

<div id="doc-template" class="hidden flex justify-center items-center m-1 font-medium rounded border border-indigo-700">
    <div class="bg-indigo-700 text-indigo-100 h-full pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-full cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </div>
    <div name="doc_type" class="font-medium py-1 pl-2 pr-3 leading-none max-w-full flex-initial bg-indigo-700 text-indigo-100">doc_type</div>
    <div name="doc_path" class="font-normal leading-none max-w-full flex-initial py-1 pl-3 pr-2 bg-indigo-100 text-indigo-700 rounded">doc_path</div>
</div>

{{end}}
