{{template "base" .}}

{{define "main"}}

<main id="suppliers-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5">
            <a href="/suppliers/add" class="text-center block cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Add supplier</a>
            <a href="/suppliers/export" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Export</a>
        </div>

        <div class="basis-0 grow pt-5">
            {{with .Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">Supplier</th>
                            <th scope="col" class="px-2 py-2">AD Account(s)</th>
                            <th scope="col" class="px-2 py-2">Accreditations</th>
                            <th scope="col" class="px-2 py-2">Documentation</th>
                            <th scope="col" class="px-2 py-2">Related System(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Suppliers}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200">
                            <td class="px-2 py-2"><a href="/suppliers/{{.ID}}" class="text-blue-600 hover:underline">{{.Supplier}}</a></td>
                            <td class="px-2 py-2">
                                {{range .Accounts}}
                                    {{.Upn}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2">
                                {{range .Accreditations}}
                                    <span>{{.Accreditation}}</span>
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2">
                                {{range .Documentation}}
                                    <span>{{.Type}} : {{.Path}}</span>
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2">
                                {{range .Systems}}
                                    <span>{{.System}}</span>
                                    <br />
                                {{else}}
                                    <span class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500 cursor-help" title="This supplier is not related to any systems">Orphaned</span>
                                {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{end}}
