{{template "base" .}}

{{define "main"}}

<main id="systems-register">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5">
            <a href="/systems/add" class="text-center block cursor-pointer w-full py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Add system</a>
            <a href="/systems/export" class="text-center block cursor-pointer w-full mt-1.5 py-2 px-4 border border-transparent shadow-sm text-sm font-normal rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Export</a>
            <hr class="my-5 border"/>
            <div id="visibility">
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_documentation" value="documentation" class="mr-2" />Documentation
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_shortcode" value="shortcode" class="mr-2" />Shortcode
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_description" value="description" class="mr-2" />Description
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_services" value="services" class="mr-2" />Service(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_supplier" value="supplier" class="mr-2" />Supplier
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_developers" value="developers" class="mr-2" />Developer(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_system_managers" value="system_managers" class="mr-2" />System Managers
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_iaos" value="iaos" class="mr-2" />IAO
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_authorised_users" value="authorised_users" class="mr-2" />Authorised Users
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_websites" value="websites" class="mr-2" />Website(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_distribution_lists" value="distribution_lists" class="mr-2" />Distribution List(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_tier" value="tier" class="mr-2" />Tier
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_environments" value="environments" class="mr-2" />Environment(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_organisations" value="organisations" class="mr-2" />Organisation(s)
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_oncall" value="oncall" class="mr-2" />On-Call?
                    </label>
                </div>
                <div>
                    <label class="text-sm">
                        <input type="checkbox" id="visibility_related_assets" value="related_assets" class="mr-2" />Related Asset(s)
                    </label>
                </div>
            </div>
        </div>

        <div class="basis-0 grow pt-5">
            {{with .Flash}}
                <div id="flash" class="mb-4 px-3 py-2 bg-yellow-300" role="alert">
                    <p class="text-center font-semibold">{{.}}</p>
                </div>
            {{end}}

            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                <table class="table-auto w-full border-collapse text-sm divide-y divide-gray-200">
                    <thead class="text-left tracking-wider">
                        <tr class="border-b border-gray-200">
                            <th scope="col" class="px-2 py-2">System Name</th>
                            <th scope="col" class="px-2 py-2 documentation" style="display: none">Documentation</th>
                            <th scope="col" class="px-2 py-2 shortcode" style="display: none">Shortcode</th>
                            <th scope="col" class="px-2 py-2 description" style="display: none">Description</th>
                            <th scope="col" class="px-2 py-2 services" style="display: none">Service(s)</th>
                            <th scope="col" class="px-2 py-2 supplier" style="display: none">Supplier</th>
                            <th scope="col" class="px-2 py-2 developers" style="display: none">Developer(s)</th>
                            <th scope="col" class="px-2 py-2 system_managers" style="display: none">System Managers</th>
                            <th scope="col" class="px-2 py-2 iaos" style="display: none">Information Asset Owner</th>
                            <th scope="col" class="px-2 py-2 authorised_users" style="display: none">Authorised Users</th>
                            <th scope="col" class="px-2 py-2 websites" style="display: none">Website(s)</th>
                            <th scope="col" class="px-2 py-2 distribution_lists" style="display: none">Distribution List(s)</th>
                            <th scope="col" class="px-2 py-2 tier" style="display: none">Tier</th>
                            <th scope="col" class="px-2 py-2 environments" style="display: none">Environment(s)</th>
                            <th scope="col" class="px-2 py-2 organisations" style="display: none">Organisation(s)</th>
                            <th scope="col" class="px-2 py-2 oncall" style="display: none">On-call?</th>
                            <th scope="col" class="px-2 py-2 related_assets" style="display: none">Related Asset(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Systems}}
                        <tr class="border-b border-gray-200 hover:bg-slate-200">
                            <td class="px-2 py-2"><a href="/systems/{{.ID}}" class="text-blue-600 hover:underline">{{.System}}</a></td>
                            <td class="px-2 py-2 documentation" style="display: none">
                                {{if .Documentation}}
                                    <a href="{{.Documentation}}" target="_blank" class="text-blue-600 hover:underline">{{.Documentation}}</a>
                                {{else}}
                                    <span class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500 cursor-help" title="This system should be linked to its documentation">Missing documentation link</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 shortcode" style="display: none">{{.Shortcode}}</td>
                            <td class="px-2 py-2 description" style="display: none">{{.Description}}</td>
                            <td class="px-2 py-2 services" style="display: none">
                                {{range .Services}}
                                    {{.Name}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 supplier" style="display: none">
                                {{range .Suppliers}}
                                    {{.Supplier}}
                                    <br />
                                {{else}}
                                    <span class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500 cursor-help" title="There is currently no supplier related to this system">Missing Supplier</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 developers" style="display: none">
                                {{range .Developers}}
                                    {{.FirstName}} {{.Surname}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 system_managers" style="display: none">
                                {{range .SystemManagers}}
                                    {{.FirstName}} {{.Surname}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 iaos" style="display: none">
                                {{range .IAOs}}
                                    {{.FirstName}} {{.Surname}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 authorised_users" style="display: none">
                                {{range .AuthorisedUsers}}
                                    {{.FirstName}} {{.Surname}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 websites" style="display: none">
                                {{if .Websites}}
                                    {{.Websites}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2 distribution_lists" style="display: none">
                                {{if .DistributionLists}}
                                    {{.DistributionLists}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2 tier" style="display: none">
                                {{if ne .Tier 0}}
                                    {{.Tier}}
                                {{end}}
                            </td>
                            <td class="px-2 py-2 environments" style="display: none">
                                {{range .Environments}}
                                    {{.Name}}
                                    <br />
                                {{end}}
                            </td>
                            <td class="px-2 py-2 organisations" style="display: none">
                                {{range .Organisations}}
                                    {{.Organisation}}
                                    <br />
                                {{else}}
                                    <span class="pt-0.5 pb-1 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-amber-500 cursor-help" title="This system is not currently allocated against an organisation">Missing Organisation</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 oncall" style="display: none">
                                {{if .OnCall}}
                                    <span class="fas fa-check">&nbsp;</span>
                                {{end}}
                            </td>
                            <td class="px-2 py-2 related_assets" style="display: none">
                                {{range .Assets}}
                                    <div class="mb-1.5">
                                        <span>{{.Hostname}}</span>
                                        <span>&nbsp;</span>
                                        {{range .Environments}}
                                            <span class="py-0.5 px-2.5 inline whitespace-nowrap align-baseline rounded font-normal text-xs text-slate-50 bg-sky-500">{{.Name}} environment</span>
                                            <span>&nbsp;</span>
                                        {{end}}
                                    </div>
                                {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{end}}
