{{template "base" .}}

{{define "main"}}

<main id="system-detail">
    <div class="flex flex-nowrap gap-4">
        <div class="basis-60 min-w-[240px] grow-0 h-screen bg-stone-100 border-r border-stone-300 px-5 pt-5"></div>

        <div class="basis-0 grow pt-5">
            <div class="border border-solid border-neutral-300 rounded-sm p-2.5 bg-slate-50 mb-5">
                {{if eq .Action "add"}}
                <form action="/systems/add" method="POST">
                {{end}}
                {{if eq .Action "view"}}
                <form hx-put='/systems/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/systems">
                {{end}}
                    <fieldset>
                        <div>
                            <label class="block text-sm font-medium text-gray-700" for="system">System Name *</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="system" id="system" maxlength="200" placeholder="Enter the name of the system…" value='{{.FormData.Get "system"}}' required autofocus />
                            {{with .FormErrors.system}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="documentation">Documentation</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="documentation" id="documentation" maxlength="250" placeholder="Enter the URL for the system documentation" value='{{.FormData.Get "documentation"}}' />
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="shortcode">Shortcode *</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="shortcode" id="shortcode" maxlength="7" placeholder="Enter the shortcode for the system…" value='{{.FormData.Get "shortcode"}}' required />
                        </div>

                        <div class="mt-3">
                            {{$oncall := .FormData.Get "oncall"}}
                            <label for="oncall">
                                <input type="checkbox" id="oncall" name="oncall" value="true" class="mr-2" {{if (eq $oncall "true")}}checked{{end}} />
                                Covered on-call?
                            </label>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="description">Description</label>
                            <textarea class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="description" id="description">{{.FormData.Get "description"}}</textarea>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="related_services">Service(s) *</label>
                            <input list="services" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_services" name="related_services"
                                placeholder="Enter the name of the service that this system is part of"
                                hx-post="/searchServices"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#services">
                            <datalist id="services"></datalist>
                            <input type="hidden" id="selected_services" name="selected_services" value='{{.FormData.Get "selected_services"}}' >
                            <div id="selected_service_tags" class="flex flex-wrap"></div>
                            {{with .FormErrors.services}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="developer">Developer</label>
                            <input list="developers" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="developer" name="developer" value='{{.FormData.Get "developer"}}'
                                placeholder="Enter the surname of the lead developer"
                                hx-post="/searchLdapUsers"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#developers">
                            <datalist id="developers"></datalist>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="related_system_managers">System Manager(s) *</label>
                            <input list="system_managers" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_system_managers" name="related_system_managers"
                                placeholder="Enter the surname of the system manager(s)"
                                hx-post="/searchLdapUsers"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#system_managers">
                            <datalist id="system_managers"></datalist>
                            <input type="hidden" id="selected_system_managers" name="selected_system_managers" value='{{.FormData.Get "selected_system_managers"}}' >
                            <div id="selected_system_manager_tags" class="flex flex-wrap"></div>
                            {{with .FormErrors.system_managers}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="iao">Information Asset Owner *</label>
                            <input list="iaos" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="iao" name="iao" value='{{.FormData.Get "iao"}}'
                                placeholder="Enter the surname of the IAO"
                                hx-post="/searchLdapUsers"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#iaos"
                                required>
                            <datalist id="iaos"></datalist>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="related_authorised_users">Authorised Users</label>
                            <input list="authorised_users" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_authorised_users" name="related_authorised_users"
                                placeholder="Enter the surname of the authorised user(s)"
                                hx-post="/searchLdapUsers"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#authorised_users">
                            <datalist id="authorised_users"></datalist>
                            <input type="hidden" id="selected_authorised_users" name="selected_authorised_users" value='{{.FormData.Get "selected_authorised_users"}}' >
                            <div id="selected_authorised_user_tags" class="flex flex-wrap"></div>
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="related_suppliers">Supplier(s) *</label>
                            <input list="suppliers" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_suppliers" name="related_suppliers"
                                placeholder="Enter the supplier name"
                                hx-post="/searchSuppliers"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#suppliers">
                            <datalist id="suppliers"></datalist>
                            <input type="hidden" id="selected_suppliers" name="selected_suppliers" value='{{.FormData.Get "selected_suppliers"}}' >
                            <div id="selected_supplier_tags" class="flex flex-wrap"></div>
                            {{with .FormErrors.suppliers}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="websites">Website(s)</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="websites" id="websites" maxlength="250" placeholder="Enter the URLs for any related websites" value='{{.FormData.Get "websites"}}' />
                            <div class="mt-2 p-3.5 w-full bg-sky-200 border border-sky-300 rounded-md text-sm">
                                <p>Enter multiple website URLs separated by a comma and MUST be an internal domain.</p>
                            </div>
                            {{with .FormErrors.websites}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm leading-loose">
                                <p>The url(s) you entered are not valid.</p>
                                <p>Note that the URL must end in exe.nhs.uk</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="distribution_lists">Distribution Lists</label>
                            <input type="text" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" name="distribution_lists" id="distribution_lists" maxlength="500" value='{{.FormData.Get "distribution_lists"}}' />
                            <div class="mt-2 p-3.5 w-full bg-sky-200 border border-sky-300 rounded-md text-sm">
                                <p>Multiple email addresses may be separated by a comma and MUST be one of @exe.nhs.uk, @rdeft.nhs.uk or @nhs.net.</p>
                            </div>
                            {{with .FormErrors.distribution_lists}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm leading-loose">
                                <p>The email address(es) you entered are not valid.</p>
                                <p>The email address(es) must be NHSMail addresses.</p>
                            </div>
                            {{end}}

                        </div>

                        <div class="mt-3">
                            {{$tier := .FormData.Get "tier"}}
                            <label class="block text-sm font-medium text-gray-700" for="name">System Tier *</label>
                            <div class="radio">
                                <label><input type="radio" class="mr-2" name="tier" value="1" {{if (eq $tier "1")}}checked{{end}} required>Tier 1</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" class="mr-2" name="tier" value="2" {{if (eq $tier "2")}}checked{{end}} required>Tier 2</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" class="mr-2" name="tier" value="3" {{if (eq $tier "3")}}checked{{end}} required>Tier 3</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" class="mr-2" name="tier" value="4" {{if (eq $tier "4")}}checked{{end}} required>Archive</label>
                            </div>
                        </div>

                        <div id="selected_environments" class="mt-3">
                            {{$environments := .FormData.Get "selected_environments"}}
                            <label class="block text-sm font-medium text-gray-700" for="name">Environment(s) *</label>
                            {{range .Environments}}
                            <div class="flex flex-row">
                                <div class="checkbox basis-28">
                                    <label class="mr-3"><input type="checkbox" name="environment" value="{{.Name}}" class="mr-2" {{if isCheckboxSelected $environments .Name}}checked{{end}}>{{.Name}}</label>
                                </div>
                                <div class="hidden">
                                    <select id="environment_tier" name="environment_tier">
                                        <option value="1">Tier 1</option>
                                        <option value="2">Tier 2</option>
                                        <option value="3">Tier 3</option>
                                        <option value="4">Tier 4</option>
                                        <option value="Archive">Archive</option>
                                    </select>
                                </div>
                            </div>
                            {{end}}
                            {{with .FormErrors.environments}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            {{$organisations := .FormData.Get "selected_organisations"}}
                            <label class="block text-sm font-medium text-gray-700" for="name">Organisation(s) *</label>
                            {{range .Organisations}}
                            <div>
                                <label><input type="checkbox" name="organisation" value="{{.Organisation}}" class="mr-2" {{if isCheckboxSelected $organisations .Organisation}}checked{{end}}>{{.Organisation}}</label>
                            </div>
                            {{end}}
                            {{with .FormErrors.organisations}}
                            <div class="mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                                <p>{{.}}</p>
                            </div>
                            {{end}}
                        </div>

                        <div class="mt-3">
                            <label class="block text-sm font-medium text-gray-700" for="related_assets">Related Asset(s)</label>
                            <input list="assets" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" id="related_assets" name="related_assets"
                                placeholder="Enter the asset name"
                                hx-post="/searchAssets"
                                hx-trigger="keyup changed delay:500ms"
                                hx-target="#assets">
                            <datalist id="assets"></datalist>
                            <input type="hidden" id="selected_assets" name="selected_assets" value='{{.FormData.Get "selected_assets"}}' >
                        </div>
                        <span id="selected_assets_container" data-hive='{{.FormData.Get "selected_asset_environments"}}'></span>
                    </fieldset>

                    <fieldset class="py-5">
                        {{if eq .Action "add"}}
                            <input type="hidden" id="action" value="add">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add system</button>
                        {{end}}
                        {{if eq .Action "view"}}
                            <input type="hidden" id="action" value="view">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save system</button>
                            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" hx-confirm='Are you sure you want to delete the system?' hx-delete='/systems/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/systems">Delete system</button>
                        {{end}}
                        <a href="/systems" class="ml-2.5 text-blue-600 hover:underline">Cancel</a>
                    </fieldset>

                    <!-- The below tag is a template which is cloned and added to the DOM as needed -->
                    <div id="tag-template" class="hidden flex justify-center items-center m-1 font-medium py-1 px-2 rounded text-indigo-100 bg-indigo-700 border border-indigo-700">
                        <div class="font-normal leading-none max-w-full flex-initial">template</div>
                        <div class="flex flex-auto flex-row-reverse">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-2 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div id="asset-template" class="hidden w-full bg-sky-200 mt-3 p-3.5 border-sky-300 border rounded-md">
                        <h1 class="font-medium text-sm text-gray-700 pl-1">asset_name
                            <i class="fa-solid fa-circle-xmark ml-2 cursor-pointer" title="xxxxxx"></i>
                        </h1>
                        <hr class="border-t border-gray-700 mb-2" />

                        <div data-hive="zero_environments" class="hidden mt-2 p-3.5 w-full bg-red-200 border border-red-300 rounded-md text-sm">
                            <p>You must select environment(s) and assign assets to those which are relevant.</p>
                        </div>

                        <div data-hive="environments" class="hidden bg-sky-300 pt-1 pb-2 px-3 rounded-md mb-2">
                            <p class="mb-2">Select the environments that this asset is part of</p>
                            <div data-hive="asset_environments" class="flex flex-col gap-y-1">
                                <div data-hive="asset_environment-template" class="hidden flex flex-row">
                                    <div class="checkbox basis-28">
                                        <label class="mr-3"><input type="checkbox" name="xxxxxx" value="xxxxxx" class="mr-2" />Prod</label>
                                    </div>
                                    <!--<div>
                                        <input list="asset_roles" class="px-1.5" id="asset_role" name="asset_role" placeholder="Role name" disabled>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

{{end}}
